header{
	text-align: center;
	position:relative;
}
header .back{
	display: inline-block;
	width: 1rem;
	height: 1rem;
	line-height:1rem;
	text-align: center;;
	font-size: 0.8rem;
	background-color: #12d5b5;
	position: absolute; 
	top: 0px;
	left: 0px;
	border: 0px;
	color: #fff;

}
a{color:#525050;}
/*去登录按钮*/
button.login{
	display: block;
	width: 100%;
	height: 1rem;
	background: #12d5b5;
	line-height: 1rem;
	text-align: center;
	color: #fff;
	border: 0px;
	position: fixed;
	bottom: 0px;
	font-size: 0.4rem;
}
/*内容部分的样式*/
.content1{
	background-color: #fff;
	padding: 0.5rem 0.2rem;
	line-height: 0.8rem;
	font-size: 0.4rem;
	border-bottom: 1px solid #e8e8e8;
}
.content2{
	background-color: #fff;
	padding: 0.3rem 0.2rem;
	line-height: 0.8rem;
	font-size: 0.4rem;
	position: relative;
}
.content2 p{
	padding-left: 2rem;
}
.content2 img{
	width:1.75rem;
	height: 1.75rem;
	position: absolute;
	top:0.2rem;
	left: 0.2rem; 
}
.content3{
	margin-top: 10px;
	background-color: #fff;
}
.content3 h3{
	padding: 0.2rem;
	font-size: 0.4rem;
	border-bottom: 1px solid #e8e8e8;
}
.content3 p{
	
	line-height: 0.8rem;
	font-size: 0.4rem;
}
.content3 .zhiz{
	padding: 0.3rem 0.2rem;
}