@charset "UTF-8";
body{
    overflow: hidden;
}
html, body{
    font-size: 62.5%;
}
body, body > section{
    height: 100vh;
}
a:hover{
    text-decoration: none;
}
#service,#progress,#customer,#contact{
    padding-top: 100px;
}
/*------------------------------------header start------------------------------------*/
#header{
    background: url("../img/1.jpg")no-repeat center;
    background-size: cover;
}
#header .navbar{
    min-height: 80px;
    background: none;
    border-bottom: 0;
    font-size: 2rem;
}
#header .navbar-header img{
    height: 40px;
    margin: -10px 0 0 20px;
    border-radius: 50%;
}
#header .nav a{
    color:white;
    padding: 8px 15px;
    margin-right: 3px;
    transition: .5s;
}
#header .nav a:hover{
    color: #00c2ff;
}
#header .nav a:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*display: block;*/
    /*width: 100%;*/
    /*height: 100%;*/
    background: rgba(0,0,0,.5);
    z-index: -10;
    transform: scale(0);
    transition: .5s;
}
#header .nav a:hover:after{
    transform: scale(1);
}
#header .nav .active a{
    color: #00c2ff;
    background: none;
}
#header .nav .active a:after{
    transform: scale(1);
    background: rgba(0,0,0,.3);
}
#header .navbar-toggle{
    margin: 30px;
    border: 0;
    background: none;
}
#header .navbar-toggle:hover, #header .navbar-toggle:focus{
    background: rgba(50,50,50,.8);
}
#header .icon-bar{
    background: white;
}
#header h1{
    font-size: 45px;
    color: white;
    text-align: center;
    padding: 50px 0 50px;
    margin-top: 0;
}
#header .media .media-left{
    overflow: hidden;
}
#header .media .media-left img{
    margin:0 100px 0 50px;
    transform: scale(1);
    opacity: 1;
    transition: .4s;
}
#header .media .media-left img:hover{
    transform: scale(1.05);
    opacity: .8;
}
#header .media .media-body p{
    font-size: 30px;
    color: ghostwhite;
    display: inline-block;
}
#header .media .media-body h2{
    font-size: 38px;
    color: blueviolet;
    display: inline-block;
}

#header .toAbout{
    position: absolute;
    left: 50%;
    bottom: 5%;
    margin: 0 0 0 -15px;
    z-index: 100;
    width: 30px;
    height: 50px;
}
#header .toAbout:before, #header .toAbout:after{
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border-left: 2px solid #00c2ff;
    border-bottom: 2px solid #00c2ff;
    transform: rotate(-45deg);
}
#header .toAbout:before{
    animation: about 2s ease-in-out infinite;
}
#header .toAbout:after{
    animation: about2 2s ease-in-out infinite;
}
@keyframes about {
    0%{margin-top: -20px; opacity: 0}
    70%{margin-top: 0; opacity: 1}
    100%{margin-top: 10px; opacity: 0}
}
@keyframes about2 {
    0%{margin-top: -20px; opacity: 0}
    40%{margin-top: 0; opacity: 1}
    100%{margin-top: 10px; opacity: 0}
}
/*------------------------------------header end------------------------------------*/
/*------------------------------------about  start------------------------------------*/
#about{
    background: url("../img/7.jpg")no-repeat center;
    background-size: cover;
    padding-top: 100px;
    position: relative;
}
#about .tab-content{
    color: white;
    font-size: 1.4rem;
}
#about li a{
    background: rgba(255,255,0,.4);
    border-radius: 0;
    position: relative;
    color: #BBBBBB;
    font-size: 30px;
}
#about .tab-content div p{
    font-size: 24px;
    color: white;
}
#about li.active a{
    background: #00c2ff;
    color: white;
}
#about li.active a:hover{
    color: white;
}
#about li.active a:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid #00c2ff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    bottom: -8px;
    left: calc(50% - 8px);
}
#about .bot{
    background: url("../img/6.gif")no-repeat ;
    width: 167px;
    height: 20%;
    background-size: contain;
    position: absolute;
    bottom: 50px;
    right: 50px;
    animation: bot 8s ease-in-out infinite;
    -webkit-animation: bot 8s ease-in-out infinite;
}
@keyframes bot{
    0%{right: 50px;}
    48%{right: 50%;transform: rotateY(0deg)}
    50%{right: 50%;transform: rotateY(180deg)}
    98%{right: 50px; transform: rotateY(180deg)}
    100%{transform: rotateY(0deg)}
}
@-webkit-keyframes bot{
    0%{right: 50px;}
    48%{right: 50%;-webkit-transform: rotateY(0deg)}
    50%{right: 50%;-webkit-transform: rotateY(180deg)}
    98%{right: 50px;-webkit-transform: rotateY(180deg)}
    100%{-webkit-transform: rotateY(0deg)}
}
#about .row ul{
    margin-bottom: 45px;
}
/*------------------------------------about end------------------------------------*/
/*------------------------------------service start------------------------------------*/
#service{
    background: url("../img/82.jpg") no-repeat center;
    background-size: cover;
}
.We{
    text-align: center;
    font-style: italic;
    font-size: 36px;
    color: #eee;
}
.We span {
    font-size: 1.2em;
    margin: 0 4px;
    color: yellow;
}
.Time img{
    margin: 0 auto;
}
#service .row p{
    font-size: 20px;
    color: white;
    margin-top: 50px;
}
#service .row img{
    margin-top: 70px;
}
/*------------------------------------service end------------------------------------*/

/*------------------------------------progress start------------------------------------*/
#progress{
    background: url("../img/4.jpg") no-repeat center;
}
#progress .row .item img{
    width: 100%;
    max-height: 450px;
}
#progress .row > div:last-of-type a{
    font-size: 36px;
    color: #BBBBBB;
    text-decoration: none;
}
/*------------------------------------progress end------------------------------------*/

/*------------------------------------customer start------------------------------------*/
#customer{
    background: url("../img/8.jpg") no-repeat center;
    background-size: cover;
}
#customer .row{
    margin-top: 50px;
}
#customer .row h4{
    font-size: 24px;
    color: white;
}
/*------------------------------------customer end------------------------------------*/
/*------------------------------------contact start------------------------------------*/
#contact{
    background: url("../img/9.jpg") no-repeat center;
}
#contact .Last{
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    color: greenyellow;
}

#contact .row div{
    margin-top: 20px;
}
#contact .row img{
    max-width: 80px;
    max-height: 80px;
}
#contact .row p{
    display: inline-block;
    color: #e0e0e0;
    font-size: 30px;
    margin: 15px 0 0;
}

/*------------------------------------contact end------------------------------------*/



